:root {

}
* {
    /*border: 1px solid black;*/
}

h1 {
    text-align: center;
}

#current-player-container {
    text-align: center;
    position: relative;
    right: 20px;
}

h2#game-status {
    text-align: center;
}

#board-container {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid #333;
    background: #fafafa;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
}

.cell {
    background: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.cell:hover {
    background: #f0f0f0;
}

.mark {
    font-size: 4rem;
    font-weight: bold;
    color: #1986d2;
    text-shadow: 2px 2px 4px #bdbdbd;
    letter-spacing: 2px;
    font-family: 'Quicksand', 'Segoe UI', 'Arial' , sans-serif;
    transition: color 0.2s;
}

.mark.x {
    color: #d32f2f;
}

.mark.o {
    color: #1976d2;
}